.spinner-wrapper {
    position: absolute;
    top: auto;
    bottom: auto;
    width: 100%;
    /* margin-top: 20rem; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 8rem;
    background-color: grey; */
  }
  
  @keyframes ldio-7s74vh89gdx {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .ldio-7s74vh89gdx div {
    /* left: 71.295px;
    top: 55.125px; */
    position: absolute;
    animation: ldio-7s74vh89gdx linear 1s infinite;
    background: #cacaca;
    width: 4.41px;
    height: 7.35px;
    border-radius: 0px / 0px;
    transform-origin: 2.205px 18.375px;
  }
  .ldio-7s74vh89gdx div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #cacaca;
  }
  .ldio-7s74vh89gdx div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #cacaca;
  }
  .loadingio-spinner-spinner-oj9x2go4q4 {
    /* width: 8rem;
    height: 8rem;
    display: inline-block;
    overflow: hidden; */
    background: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 2px 2px 3px grey;

  }
  .ldio-7s74vh89gdx {
    /* width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; see note above */
  }
  .ldio-7s74vh89gdx div {
    box-sizing: content-box;
  }