.post-list-wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 20rem;
  max-width: 40rem;
  padding-top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.post-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.post-header {
  width: 100%;
  height: 4rem;
  border-top: 1px solid rgb(190, 190, 190);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-header-pic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.post-header-pic-wrapper img {
  min-height: 100%;
  min-width: 100%;
  max-width: 150%;
  max-height: 130%;
}

.userLink {
  margin-left: 1rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.post-image-wrapper {
  width: 100%;
  height: auto;
}

.post-image-wrapper img {
  height: auto;
  width: 100%;
}

.dots-menu-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  width: 3rem;
  margin-left: auto;
}

.menu-dots {
  color: grey;
  font-size: 1.5rem;
}

.post-icons-wrapper {
  padding-left: 5px;
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-icon {
  font-size: 1.5rem;
  margin-left: 6px;
  margin-right: 6px;
}

.last-post-icon {
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: 6px;
}

.post-details-wrapper {
  flex-direction: column;
  display: flex;
  width: 100%;
  /* padding-left: 0.8rem;
  padding-right: 0.8rem; */
}

.likes {
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 0.8rem;
  margin-left: 0.8rem;
  font-weight: bold;
}

.post-description {
  display: flex;
  margin-top: 14px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.post-description-text {
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 0;
}

.view-comments-title {
  margin-left: 0.8rem;
  color: #8e8e8e;
  font-size: 0.9rem;
  cursor: pointer;
}

.view-comments-title a {
  margin: 0;
  color: #8e8e8e;
  text-decoration: none;
}

.post-date-wrapper {
  margin-top: 0.5rem;
  margin-left: 0.8rem;
}

.post-date-wrapper p {
  font-size: 0.7rem;
  color: #8e8e8e;
}
