.create-post-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

.new-post-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 2.8rem;
}

.new-post-back-button {
  left: 0.7rem;
  top: auto;
  bottom: auto;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
}

.create-back-icon {
  color: black;
  height: 1.3rem;
  width: 1.3rem;
}

.new-post-header-wrapper p {
  font-weight: bold;
}

.new-post-share-button {
  top: auto;
  bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  right: 0.9rem;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #0095f6;
  font-size: 1rem;
}

.new-post-share-button:disabled {
  opacity: 0.5;
}

.new-post-info1-wrapper {
  position: fixed;
  top: 2.8rem;
  height: 5.6rem;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  background-color: white;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.new-post-portrait-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  margin-right: 0.6rem;
  overflow: hidden;
  border-radius: 50%;
}

.new-post_user-display {
  min-width: 100%;
  min-height: 100%;
  max-width: 140%;
  max-height: 140%;
  object-fit: cover;
}

.new-post-no-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2.6rem;
  height: 2.6rem;
  color: #dbdbdb;
}

.new-post-image-wrapper {
  margin-top: 0.8rem;
  width: 4rem;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
}

.new-post-image-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: transparent;
}

.file-button-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.label-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  height: 4rem;
  width: 4rem;
  background-color: #f8f8f8;
  color: black;
}

.new-post-input-wrapper {
  margin-top: 1.4rem;
  width: 15rem;
}

.new-post-caption-input {
  height: 90%;
  width: 100%;
  border: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  resize: none;
}

.new-post-caption-input::placeholder {
  position: absolute;
  top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.post-preview {
  height: 100%;
  width: auto;
}

.add-image-icon {
  height: 2rem;
  width: 2rem;
  color: #8e8e8e;
}

.add-location-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 9.5rem;
  height: 2.8rem;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  background-color: white;
}

.tag-person-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 9.3rem;
  height: 2.8rem;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  background-color: white;
}

.tagged-users-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 12.8rem;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
}

.post-add-text {
  margin-left: 1rem;
  font-weight: 400;
}

.add-to-post-arrow {
  color: #8e8e8e;
  margin-right: 1rem;
}

.tag-selected-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: #e0f1ff;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 1rem;
}

.tag-selected-container p {
  color: #0095f6;
  font-weight: 500;
  font-size: 0.9rem;
  margin: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tagged-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  background: transparent;
  border-left: 1px solid #93d4ff;
  color: #68c3ff;
}

.cancel-input {
  position: absolute;
  right: 2rem;
  color: #8e8e8e;
  height: 1.2rem;
  width: 1.2rem;
}
